<div class="search_controls">
	<div class="ui-widget search_controls">
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav active" value="title"><a href="#" data-toggle="tab">Movie</a></li>
				<li class="nav" value="director"><a href="#" data-toggle="tab">Director</a></li>
			</ul>
		</div>
		<span>
			<input id="search_input" type="text">
			<button id="search_button" type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-search"></i></button>
			<div class="help_container">
				<b class="help_text">No results found :(</b>
				<p class="help_text">Try movies like: '180' or 'Ant-Man', or try directors like: 'Alan Taylor' or 'Alon Aranya'</p>
			</div>
		</span>
	</div>
</div>
<div id="map"></div>
